<div *ngIf="loginError" id="error">
  <h3>Identifiants incorrects !</h3>
</div>
<form (ngSubmit)="submit(form)" #form="ngForm">
  <div class="form-group">
    <h2>Se connecter</h2>
    <input
      type="text"
      class="form-control"
      placeholder="Courriel"
      [(ngModel)]="email"
      name="name"
    />
    <input
      type="password"
      class="form-control"
      placeholder="Mot de passe"
      [(ngModel)]="password"
      name="password"
    />
    <input
      type="submit"
      value="Connexion"
      [disabled]="!form.valid"
      name="submit"
    />
  </div>
</form>
