form {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

form .form-group {
  margin: 0;
  width: 350px;
  height: 250px;
  border-radius: 7px;
  background-color: #498c8a;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form .form-group h2 {
  color: white;
  margin-bottom: 25px;
}

form .form-group input {
  margin-bottom: 15px;
  width: 200px;
}

form .form-group input[type="submit"] {
  background-color: whitesmoke;
  width: 100px;
  margin: 0;
}
