/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

nav {
  background-color: #498c8a;
  font-size: 25px;
  color: white;
  ul {
    display: flex;
    padding: 15px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    li {
      margin: 0px 15px;
      h2 {
        font-family: Arvo, serif;
        font-weight: bold;
      }
      a {
        color: white;
        :hover {
          color: white;
        }
      }
    }
  }
}

.datas {
  font-weight: bold;
}

#wrapper {
  width: 90%;
  margin: auto;
  #ordersInfos {
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
  }
  #pieCharts {
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
  }
}
