h2 {
  margin: 25px 25px 0px;
  font-family: Arvo, serif;
  font-weight: bold;
  font-size: larger;
  color: #498c8a;
}
#calendar {
  display: flex;
  justify-content: center;
  margin: 25px;
  mat-form-field {
    font-size: small;
  }
}
