<h2>Tableau de bord</h2>
<div id="calendar">
  <mat-form-field appearance="fill">
    <mat-label>Sélectionnez une période</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate [(ngModel)]="startDate" placeholder="Date de début" />
      <input matEndDate placeholder="Date de fin" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <button (click)="getDate()">clic</button>
</div>
<div id="logout">
  <a routerLink="/login" routerLinkActive="active" (click)="logout()"
    ><fa-icon icon="sign-out-alt"></fa-icon
  ></a>
</div>
