div {
  border: solid 2px #efefef;
  padding: 10px;
  border-radius: 7px;
  fa-icon {
    margin-right: 10px;
  }
  .arrow-up {
    color: #4aaf05;
  }
  .arrow-down {
    color: #eb001b;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
